.App {
    padding: 30px;
    display: flex;
}

.Ingredients {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.Ingredients fieldset {
    height: 100%;
}

.BurgerWrapper {
    width: 50%;
}
